@model RepairAndConstruction.Models.JobOffer

@{
    ViewData["Title"] = "Job Offer Details";
    var role = Context.Session.GetString("Role") ?? "Guest";
}

<h1>Job Offer Details</h1>

<div>
    <h4>@Model.Title</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Description</dt>
        <dd class="col-sm-10">@Model.Description</dd>

        <dt class="col-sm-2">Price</dt>
        <dd class="col-sm-10">@Model.Price.ToString("C")</dd>

        <dt class="col-sm-2">Worker</dt>
        <dd class="col-sm-10">@Model.Worker?.FullName</dd>
    </dl>
</div>

<div>
    @if (role == "Customer")
    {
        <a asp-action="Create" asp-controller="Bookings" class="btn btn-success">Book Service</a>
        <a asp-controller="Home" asp-action="Index" class="btn btn-secondary">Back to Home Page</a>
    }
    else
    {

        <a asp-controller="Home" asp-action="Index" class="btn btn-secondary">Back to Home Page</a>
    }
</div>
