@model RepairAndConstruction.Models.JobOffer

@{
    ViewData["Title"] = "Job Offer Details";
}

<div class="container mt-5">
    <h1 class="display-4 text-center">@Model.Title</h1>

    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Description</h5>
                    <p>@Model.Description</p>

                    <h5 class="card-title">Price</h5>
                    <p>@Model.Price лв</p>

                    <h5 class="card-title">Worker</h5>
                    <p>@Model.Worker.FullName</p>

                    <a asp-action="Index" class="btn btn-primary">Back to Job Offers</a>
                </div>
            </div>
        </div>
    </div>
</div>
