@model IEnumerable<RepairAndConstruction.Models.Customer>

@{
    ViewData["Title"] = "Customers";
}

<h1>Customers</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Add New Customer</a>
</p>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Full Name</th>
            <th>Email</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in Model)
        {
            <tr>
                <td>@customer.FullName</td>
               
                <td>
                    <a asp-action="Details" asp-route-id="@customer.Id" class="btn btn-info btn-sm">Details</a>
                    <a asp-action="Edit" asp-route-id="@customer.Id" class="btn btn-warning btn-sm">Edit</a>
                    <a asp-action="Delete" asp-route-id="@customer.Id" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
